*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(200deg,#ddd6f3,#faaca8);
}
/* 调整页面中所有的元素，使其水平垂直居中并且是弹性布局 */
body,.navbar,.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
}
.navbar input{
    width: 40px;
    height: 40px;
    /* 将复选框变成不透明 */
    opacity: 0;
    /* 鼠标悬停变成小手 */
    cursor: pointer;
}
.navbar span{
    position: absolute;
    left: 25px;
    width: 30px;
    height: 4px;
    /* 将两条线放在一起然后单独设置第二条线的位置 */
    top: calc(50% - 10px);
    border-radius: 15px;
    background-color: #999;
    /* 解决因为元素覆盖导致的点不到复选框 */
    pointer-events: none;
    /* 定义过渡动画 */
    transition: transform 0.3s ease-in-out,top 0.3s ease-in-out 0.3s;
    
}
.navbar span:nth-child(3){
    top:calc(50% + 6px) ;
}
.navbar ul{
    width: 0;
    /* 溢出隐藏 */
    overflow: hidden;
    transition: all 0.5s;
    /* 让文字不换行 */
    white-space: nowrap;
}
.navbar ul li{
    list-style: none;
    margin: 0px 15px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.navbar ul li a:hover{
    color: #fb7299;
}
/* 当复选框被选中时执行的事件，~是一个兄弟选择器，查找同一级的ul*/
.navbar input:checked ~ ul{
    width: 350px;
}
.navbar input:checked ~ span:nth-child(2){
    top:calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: #fb7299;
    /* 先执行top，然后0.3秒后执行transform */
    transition:top 0.3s ease-in-out,transform 0.3s ease-in-out 0.3s;
}

.navbar input:checked ~ span:nth-child(3){
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #fb7299;
    transition: top 0.3s ease-in-out,transform 0.3s ease-in-out 0.3s;
}