* {
    /* 初始化浏览器格式 */
    margin: 0px;
    padding: 0px;
}

body {
    /* 设置款高为整个浏览器高度，并将背景色变成从左到右的渐变色 */
    height: 100vh;
    background: linear-gradient(to right, #ed6ea0, #ec8c69);
}

/* 将复选框变成宽高40px的正方形，取消他的上下左右边距，显示层级为2，透明度设置为0，鼠标悬停将变为小手指针 */
.menu-toggler {
    /* 绝对定位 */
    position: absolute;
    /* 将元素变为块级元素 */
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

/* 当鼠标悬停在复选框上的时候选择他的相邻兄弟元素label，并将它们的前后伪元素设置背景为白色 */
.menu-toggler:hover+label,
.menu-toggler:hover+label::before,
.menu-toggler:hover+label::after {
    background: #fff;
}

/* 当鼠标点击时选择相邻的label元素并将它设置为透明背景 */
.menu-toggler:checked+label {
    background: transparent;
}

/* 确定label伪元素的动画变换圆心在居中位置，同时设置宽为40px以适应复选框，top0
表示上边距为0 */
.menu-toggler:checked+label::before,
.menu-toggler:checked+label::after {
    top: 0;
    width: 40px;
    transform-origin: 50% 50%;
}

/* 对在复选框之前的label进行旋转动画的定义 */
.menu-toggler:checked+label::before {
    transform: rotate(45deg);
}

/* 对紧随复选框后的label进行旋转动画的定义 */
.menu-toggler:checked+label::after {
    transform: rotate(-45deg);
}

/* 选择所有图标并设置他们的透明度为1 */
.menu-toggler:checked~ul .menu-item {
    opacity: 1;
}

/* 选择label下ul标签中的class为menu-item的第1、2、3、4、5、6个子元素 */
.menu-toggler:checked~ul .menu-item:nth-child(1) {
    /* 设置动画为旋转并设置旋转角度，在旋转同时元素会向左移110px */
    transform: rotate(0deg) translateX(-110px);
}

.menu-toggler:checked~ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-110px);
}

.menu-toggler:checked~ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-110px);
}


.menu-toggler:checked~ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110px);
}

.menu-toggler:checked~ul .menu-item:nth-child(5) {
    transform: rotate(240deg) translateX(-110px);
}

.menu-toggler:checked~ul .menu-item:nth-child(6) {
    transform: rotate(300deg) translateX(-110px);
}

/* 当复选框被选中时li下的a标签的鼠标事件将被启用，如果没有被选中则不被启用 */
.menu-toggler:checked~ul .menu-item a {
    pointer-events: auto;
}

/* 选择复选框后面的下一个label元素 */
.menu-toggler+label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s, top 0.5s;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* 选择中间label前方和后方的元素 */
.menu-toggler+label::before,
.menu-toggler+label::after {
    width: 40px;
    height: 5px;
    /* 转换为块级元素 */
    display: block;
    /* 设置元素显示层级 */
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    /* 设置动画的过渡效果时间 */
    transition: transform 0.5s, top 0.5s;
    content: "";
    position: absolute;
    left: 0;
}

.menu-toggler+label::before {
    top: 10px;
}

.menu-toggler+label::after {
    top: -10px;
}

.menu-item:nth-child(1) a {
    transform: rotate(0deg);
}

.menu-item:nth-child(2) a {
    transform: rotate(-60deg);
}

.menu-item:nth-child(3) a {
    transform: rotate(-120deg);
}

.menu-item:nth-child(4) a {
    transform: rotate(-180deg);
}

.menu-item:nth-child(5) a {
    transform: rotate(-240deg);
}

.menu-item:nth-child(6) a {
    transform: rotate(-30deg);
}

.menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
}

/* 选择menu-item下的a标签设置他们的样式 */
.menu-item a {
    /* 转换为块级元素 */
    display: block;
    /* 设置宽高为与父元素相同 */
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    text-align: center;
    /* 设置a链接没有任何样式 */
    text-decoration: none;
    font-size: 40px;
    /* 禁止鼠标事件 */
    pointer-events: none;
    /* 设置过渡时间为0.2s */
    transition: 0.2s;
}

/* 设置鼠标悬停事件 */
.menu-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    font-size: 45px;
}