/* 页面初始化 */
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, #537895, #09203f);
    /* 弹性布局 */
    display: flex;
    /* 居中显示 */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.effect,
.bigball,
.smallball {
    border-radius: 50%;
}

.bigball,
.smallball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* 设置模糊度，配合下面的contrast实现想粘性效果 */
    filter: blur(5px);
    
}

.effect {
    position: relative;
    /* 输出一个最外层圆形 */
    background: white;
    width: 320px;
    height: 320px;
    filter: contrast(10);
}

.bigball {
    /* 输出中间圆 */
    background: black;
    width: 120px;
    height: 120px;
}

.smallball {
    width: 60px;
    height: 60px;
    background-color: red;
    /* 设置动画：名称(在下方定义) 时长 无限次播放 */
    animation: ball 3s infinite;
}

/* 定义小球动画 名称自取 */
@keyframes ball {

    0%,
    100% {
        left: 50px;
        width: 60px;
        height: 60px;
    }

    4%,
    54% {
        width: 60px;
        height: 60px;
    }

    10%,
    60% {
        width: 50px;
        height: 70px;
    }

    20%,
    70% {
        width: 60px;
        height: 60px;
    }

    34%,
    90% {
        width: 70px;
        height: 50px;
    }

    41% {
        width: 60px;
        height: 60px;
    }

    50% {
        left: 270px;
        width: 60px;
        height: 60px;
    }
}