/* 初始化浏览器样式 */
*{
    margin: 0;
    padding: 0;
}
/* 设置包裹所有元素的 */
body{
    /* 背景色设置为中间向两边渐变 */
    background: radial-gradient(circle at center, #555, #000);
    /* 常规操作，弹性布局 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 子元素垂直排列*/
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
body a{
    /* 相对定位啦 */
    position: relative;
    /* 转换成块级元素 */
    display: block;
    width: 140px;
    height: 60px;
    /* 行高 */
    line-height: 60px;
    /* 去除下划线 */
    text-decoration: none;
    /* 文字水平居中 */
    text-align: center;
    margin: 40px;
    color: plum;
    /* 文字宽度 */
    font-size: 20px;
}